@import './base/normes';
@import'./base/polices';
@import './utils/variables';
@import'./utils/mixins';
@import'./layouts/header';
@import './Pages/header-section';
@import'./components/btn-pink';
@import './Pages/functioning-section'; 
@import './Pages/cards-section';
@import'./layouts/footer';
@import'./Pages/page-menu';
@import'./Pages/loader';

