@charset "UTF-8";
/* base */
/* box-sizing est appliqué à tous les éléments */
* {
  box-sizing: border-box;
}

.box {
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

* {
  font-family: Roboto;
}

p {
  font-size: x-large;
  font-weight: 300;
}

.btn-pink {
  font-size: large;
}

h3 {
  font-size: x-large;
}

/* variable */
/* function */
/* mixins */
/* header */
.logo {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px;
  padding-top: 35px;
  box-shadow: -5px 1px 10px #999999;
}
.logo__details {
  width: 200px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  padding-bottom: 70px;
}

h1 {
  align-self: flex-start;
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 0;
  font-size: 27px;
}

p {
  font-size: 27px;
  font-weight: 300;
  margin-top: 10px;
}

/* section 1 */
.section1 {
  background-color: #f8f8f8;
  padding: 0;
  padding-bottom: 50px;
}

.location {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 65px;
  align-items: center;
  background-color: #ededed;
  color: #4d4d4d;
}
.location--margin-top {
  margin-top: 20px;
}
.location__icon--margin-right {
  margin-right: 20px;
}
.location__name--font {
  font-weight: bold;
  font-size: 1.2rem;
}

.titre-section1 {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 0;
  align-self: auto;
}

.paragraph-section1 {
  text-align: center;
  color: #666666;
  margin-bottom: 35px;
}

.btn-pink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #9356DC;
  max-width: 282px;
  width: 100%;
  height: 65px;
  border-radius: 35px/35px;
  font-size: 22px;
}

/* section 2 */
.btn1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f7f7f7;
  width: 99%;
  height: 95px;
  box-shadow: 6px 6px 5px #ededed;
  border-radius: 30px;
  position: relative;
  margin-bottom: 20px;
}
.btn1__icon {
  color: #737373;
}
.btn1__description {
  font-size: 22px;
  font-weight: 580;
}
.btn1__description {
  margin-right: 25px;
}

.btn2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f7f7f7;
  width: 99%;
  height: 95px;
  box-shadow: 6px 6px 5px #ededed;
  border-radius: 30px;
  position: relative;
  margin-bottom: 20px;
}
.btn2__icon {
  color: #737373;
}
.btn2__description {
  font-size: 22px;
  font-weight: 580;
}
.btn2__description {
  margin-right: 50px;
}

.btn3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f7f7f7;
  width: 99%;
  height: 95px;
  box-shadow: 6px 6px 5px #ededed;
  border-radius: 30px;
  position: relative;
  margin-bottom: 20px;
}
.btn3__icon {
  color: #737373;
}
.btn3__description {
  font-size: 22px;
  font-weight: 580;
}
.btn3__description {
  margin-right: 50px;
}

.btn1::before {
  content: "1";
}
.btn1::before {
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
}

.btn2::before {
  content: "2";
}
.btn2::before {
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
}

.btn3::before {
  content: "3";
}
.btn3::before {
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
}

/*section 3 */
.section3 {
  background-color: #f7f7f7;
}

.cards {
  width: 99%;
  box-shadow: 6px 6px 5px #e5e5e5;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 35px;
}
.cards__img {
  width: 100%;
  height: 250px;
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.cards__img--label::after {
  content: "Nouveau";
  position: absolute;
  background-color: #9aff9a;
  color: green;
  border: 2px solid green;
  width: 10px;
  height: 10px;
  top: 55%;
}
.cards__description {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.cards__heart {
  font-size: 35px;
  padding-right: 35px;
  cursor: pointer;
}

/* footer */
footer {
  background-color: #4d4d4d;
  color: white;
  padding: 40px;
  font-size: 25px;
}

h4 {
  color: white;
  font-family: shrikhand;
  font-weight: 100;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

li {
  margin-bottom: 10px;
}

.btn-foot {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 10px;
}
.btn-foot__sign {
  margin-right: 53px;
}/*# sourceMappingURL=main.css.map */