/* base */
  /* box-sizing est appliqué à tous les éléments */

 @import "./base/normes";
 @import"./base/polices";

/* variable */
@import "./utils/variables";
/* function */
/* mixins */
@import"utils/mixins";

/* header */
.logo{ 
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px;
  padding-top: 35px;
  box-shadow: -5px 1px 10px lighten(nth($color-text, 1), 60%);
  &__details {
 width: 200px;
 }
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  padding-bottom: 70px;
}
h1{
  align-self: flex-start;
  margin-bottom: 30px;
}
h3{
  margin-bottom: 0;
  font-size: 27px;
}
p{
  font-size: 27px;
    font-weight: 300;
    margin-top: 10px;
}

/* section 1 */
.section1{
  background-color: lighten($background-grey, 2.5%);
  padding: 0;
  padding-bottom: 50px;

}
.location{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 65px;
  align-items: center;
  background-color: darken($background-grey, 2%);
  color: lighten(nth($color-text, 1), 30%);
  &--margin-top{
    margin-top: 20px;
  }
    &__icon{
      &--margin-right{
         margin-right: 20px;
      }
    }
    &__name{
      &--font{
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }

  .titre-section1{
text-align: center;
padding-top: 30px;
margin-bottom: 0;
align-self: auto;
}
.paragraph-section1{
  text-align: center;
  color: lighten(nth($color-text, 1), 40%);
  margin-bottom: 35px;
}
.btn-pink{
  display: flex;
  align-items: center;
  justify-content: center;
  color: nth($color-text, 2);
  background-color: $background-btn-pink;
  max-width: 282px;
  width: 100%;
  height: 65px;
  border-radius: 35px / 35px;
  font-size: 22px;
}

/* section 2 */
.btn1{
@include btn;
@include  btn-margin-right($margin-right: 25px)
}
.btn2{
 @include btn;
 @include  btn-margin-right
}.btn3{
 @include btn;
 @include  btn-margin-right
}

.btn1::before{
  content: '1';
  @include number}
              
 .btn2::before{
  content: '2';
  @include number}

 .btn3::before{
  content: '3';
  @include number}

 
 /*section 3 */ 
 .section3{
  background-color: lighten($background-grey, 2%);
 }

 .cards{
  width:99%;
  box-shadow: 6px 6px 5px darken($background-grey, 5%);
  border-radius: 20px;
  background-color: $background-cards;  
  margin-bottom: 35px;
  
  &__img{ 
    width: 100%;
    height: 250px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    position: relative;
    

    &--label::after{
    content: 'Nouveau';
    position: absolute;
    background-color: lighten($label-color-cards, 55%);
    color: $label-color-cards;
    border: 2px solid $label-color-cards;
    width: 10px;
    height: 10px;
    top: 55%;
  
    }
  }
  &__description{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }
  &__heart{
    font-size: 35px;
    padding-right: 35px;
    cursor: pointer;
  }
 }

 


 





