.div-fonction{
  width: 100%;
}
.ftn{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: lighten($background-grey, 2%);
  width: 99%;
  height: 95px;              
  box-shadow: 6px 6px 5px darken($background-grey, 2%);
  border-radius: 30px;
  position: relative;
  margin-bottom: 20px;

&::after{
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: $background-number;
  color: $icon-color;
  display: flex;
  justify-content: center;
  }
  &:nth-child(1)::after{
    content: '1';
  }
  &:nth-child(2)::after{
    content: '2';
  }
  &:nth-child(3)::after{
    content: '3';
  }

    &__icon{
      color: darken($icon-color, 50%);
      &:hover{
        color: $icon-color-hover;
      }
      }
    &__description{
      font-size: 22px;
      font-weight: 580;
     }
}