.fa-arrow-left{
    color: lighten($color-arrow, 30%);   
}
/*section image */
.section-img{
padding:0;
}
.img{
    width: 100%; 
    height: 315px;
    object-fit: cover;
    
    
}
/* section-menu */
.section-menu{
  padding: 0; 
  background: lighten($background-grey, 1%);
  padding-bottom: 100px;
}
.div-title-first{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    background-color: white;
    bottom: 40px;
    padding: 35px 0 20px 20px;
    border-radius: 40px 40px 0 0;
    background: lighten($background-grey, 1%);
}

.first-title{
font-family: "Shrikhand";
font-size: 2em;
margin: 0;    
font-weight: 300;
}    
/* Entrées Plats déssert*/
article{
    width: 95%;
    bottom: 40px;
    position: relative;
    margin-bottom:20px;
}
.third-title{
margin: 0;
font-size: 1.3em;
}
.menu{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 13px;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 3px 7px darken($menu-box-shadow, 10%);
    border-radius: 20px;
    margin-top: 20px;

 &__details{
 display: flex;
 align-items: center;
 justify-content: space-between;  

 &--description{
    font-weight: 300;
    color: $color-text, 1;
    font-size: large;
 }
 &--price{
    font-weight: bolder;
 }
 }
}

.second-title{
font-weight: 300;
color: lighten(nth($color-text, 1), 5%);
position: relative;
 &::before{
 position: absolute;
 content: '';
 top: 35px;
 width: 55px;
 border-bottom: 4px solid $border-title-menu;
 }
   }