.fa-arrow-left{
    color: lighten($color-arrow, 30%);  
    font-size: 1.8rem; 
}
/*section image */
.section-img{
padding:0;
}
.img{
    width: 100%; 
    height: 315px;
    object-fit: cover;
    
    
}
/* section-menu */
.section-menu{
  padding: 0; 
  background: lighten($background-grey, 1%);
  padding-bottom: 100px;
}
.div-menu{
    width: 100%;
    padding-right: 15px;
}
.div-title-first{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    background-color: white;
    bottom: 40px;
    padding: 35px 0 20px 20px;
    border-radius: 40px 40px 0 0;
    background: lighten($background-grey, 1%);
}

.first-title{
font-family: "Shrikhand";
font-size: 2em;
margin: 0;    
font-weight: 300;
}    
/* Entrées Plats déssert*/
article{
    width: 95%;
    bottom: 40px;
    position: relative;
    margin: 15px;
}
.third-title{
margin: 0;
font-size: 1.3em;
transition: text-overflow 400ms linear;
}
.menu{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 13px;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 3px 7px darken($menu-box-shadow, 10%);
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;

 &__details{
 display: flex;
 align-items: center;
 justify-content: space-between; 
 position: relative;

 

 &--description{
    font-weight: 300;
    color: nth($color-text, 1);
    font-size: large;
    transition: text-overflow 400ms linear;
 }
 &--price{
    font-weight: bolder;
    margin-left: 0;
    margin-right: 0px;
    transition: all 400ms linear; /* LE PRIX SE DECALE LORS DE L'ANIMATION */
 }

 }
 
 &:hover > .menu__details {
  > .menu__details--price{
    margin-left: 70px;
    margin-right: 85px;
  }
  >.menu__details--description{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  } 
 }
 /* ANIMATION DU CHECK */
 &__check{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: $check-color;
    color: white;
    border-radius: 0 20px 20px 0;
    font-size: 2rem;
    right: 0;
    transform: translateX(50px);
    opacity: 0;
    transition: all 400ms linear;
 }
 &:hover > .menu__check{
    transform: translateX(0px);
    opacity: 1;
 }
 
}
/* L'ANIMATION DE ROTATION DU CHECK */
.fa-circle-check{
 transform: rotate(0deg);
 transition: all 400ms;
}
.menu:hover > .menu__check{
    > .fa-circle-check{
     transform: rotate(360deg);
    }
}

.second-title{
font-weight: 300;
color: lighten(nth($color-text, 1), 5%);
position: relative;
 &::before{
 position: absolute;
 content: '';
 top: 35px;
 width: 55px;
 border-bottom: 4px solid $border-title-menu;
 }
   }

.menu{
    animation: emergence 1000ms ease-in;
    animation-iteration-count: 1;
    
}
.menu:nth-child(1){
    animation-delay: 300ms;

}
.menu:nth-child(2){
    animation-delay: 300ms;
}
.menu:nth-child(3){
    animation-delay: 600ms;
}
.menu:nth-child(4){
    animation-delay: 900ms;
}
.menu:nth-child(5){
    animation-delay: 1200ms;
}
@keyframes emergence{
 0%{
    transform: translateY(-50%);
    opacity: 0;
    
 }
 50%{
    transform: translateY(0);
    opacity: .5;
 }
 100%{
    opacity: 1;
    transform: translateY(0);
 }
}

/* MEDIA QUERIES */

@media screen and (min-width: 1250px) {
.div-menu{
display: flex;
justify-content: space-between;
align-items: center;
width: 98%;
}
article{
 width: 400px; 
}
}

