$background-grey: #F2F2F2;
$background-number: #9356DC;
$background-btn-pink: #9356DC;
$background-cards: white;
$label-color-cards: green;
$background-color-footer: black;

$color-text: black white; 
$icon-color:  #F2F2F2;
$btn1-margin-right: 50px;

