footer{
    background-color: lighten($background-color-footer, 30%);
    color: nth($color-text, 2);
    padding: 15px;
    padding-left: 25px;
    font-size: 25px;
   text-decoration: none;
   }
   h4{
    color: nth($color-text, 2);
    font-family: shrikhand;
    font-weight: 100;
    
   }
  ul{
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  li{
    margin-bottom: 10px;
    color: $color-lien;
  }
   .element-foot{
    display: flex;
    width: 300px;
    margin-bottom: 10px;
   }
  .element-foot i {
  padding-right: 20px;
  }
  