.logo{ 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    padding-top: 35px;
    box-shadow: -5px 1px 10px lighten(nth($color-text, 1), 60%);
    &__size {
   width: 180px;
   margin: auto;
   }
  }